{% sw_extends '@Storefront/storefront/component/line-item/element/tax-price.html.twig' %}

{% block component_line_item_tax_price_label %}
    {% if defaultShippingCountry != 'US' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_line_item_tax_price_inner %}
    {% if app.request.attributes.get('_route') === 'frontend.checkout.finish.page' %}
        {% if lineItem.payload.inoceanUsaTaxInfo is defined and lineItem.payload.inoceanUsaTaxInfo is not empty %}
            {% for taxInfo in lineItem.payload.inoceanUsaTaxInfo %}
                <div class="line-item-product-number">
                    {{ ('salseTaxUsa.checkout.taxes.tax' ~ taxInfo.name)|trans({'%taxRate%': taxInfo.rate})|sw_sanitize }} {{ taxInfo.tax|abs|currency }}
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        {% for calculatedTax in lineItem.price.calculatedTaxes %}
            {% set calculatedTaxRate = calculatedTax.taxRate ?? 0 %}
            <div class="line-item-product-number">
            {% set taxName = (calculatedTax.extensions.taxName.name == 0 ? 'TAX' : calculatedTax.extensions.taxName.name) %}
            {{ ('salseTaxUsa.checkout.taxes.tax' ~ taxName)|trans({'%taxRate%': calculatedTax.taxRate})|sw_sanitize }}

            {% set calculatedTaxValue = calculatedTax.tax ?? 0 %}
            {% if calculatedTaxValue < 0 %}
                &minus;
            {% endif %}

            {% if calculatedTaxRate != 0 %}
                {{ calculatedTaxValue|abs|currency }}
            {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}