{% sw_extends '@Storefront/storefront/component/line-item/element/tax-price.html.twig' %}

{% set defaultShippingCountry = context.customer.defaultShippingAddress.country.iso %}

{% block component_line_item_tax_price_label %}
    {% if defaultShippingCountry != 'US' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_line_item_tax_price_inner %}
    {% for calculatedTax in lineItem.price.calculatedTaxes %}
        <div class="line-item-product-number">
        {% if defaultShippingCountry == 'US' %}
            {% if salesTaxUsa.config.TaxBreakdown == 1 %}
                {{ ('salseTaxUsa.checkout.summary.taxName' ~ loop.index)|trans }} ({{ calculatedTax.taxRate }}%)
            {% else %}
                {{ 'salseTaxUsa.checkout.summary.combinedRate1'|trans }} ({{ calculatedTax.taxRate }}%)
            {% endif %}
        {% endif %}

        {% set calculatedTaxValue = calculatedTax.tax ?? 0 %}
        {% if calculatedTaxValue < 0 %}
            &minus;
        {% endif %}

        {% if calculatedTaxRate != 0 %}
            {{ calculatedTaxValue|abs|currency }}
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}



        