{% sw_extends '@Storefront/storefront/page/checkout/summary/summary-total.html.twig' %}

{% block page_checkout_summary_total %}
    {{ parent() }}
    <dt class="col-12 checkout-summary-shipping-details">
    {% if app.request.attributes.get('_route') === 'frontend.checkout.finish.page' %}
        {% set deliveries = page.order.deliveries %}
    {% else %}
        {% set deliveries = page.cart.deliveries %}
    {% endif %}

    {% for delivery in deliveries %}
        <h5>{{ 'salseTaxUsa.checkout.summary.shippingMethod'|trans }} {{ delivery.shippingMethod.name }}</h5>
        <div>{{ 'salseTaxUsa.checkout.summary.shippingTotalPrice'|trans }} {{ delivery.shippingCosts.totalPrice|currency }}</div>
        {% for tax in delivery.shippingCosts.calculatedTaxes %}
            {% if tax.taxRate != 0 %}
            <div>
                <span class="shipping-tax-rate">{{ 'salseTaxUsa.checkout.summary.shippingTaxRate'|trans }} {{ tax.taxRate }}% {{ tax.taxRate | getTaxName(tax.taxRate | slice(0, 2)) }}</span>
                <span class="shipping-tax-price">{{ 'salseTaxUsa.checkout.summary.shippingTax'|trans }} {{ tax.tax|currency }}</span>
            </div>
            {% endif %}
        {% endfor %}
        <div>{{ 'salseTaxUsa.checkout.summary.shippingDelivered'|trans }} {{ delivery.deliveryDate.earliest|date('Y-m-d') }} - {{ delivery.deliveryDate.latest|date('Y-m-d') }}</div>
    {% endfor %}
    </dt>
{% endblock %}
